body {
   max-width:700px;
   width:40%;
   border:20px solid darkslategray;
   margin:auto auto;
   padding:10px;
   background-color:#f3f5f8;
   background-image:url(floral-elements.jpg);
   background-repeat:no-repeat;
   background-size:100% 100%;
   background-attachment:fixed;
}

div {
   border-left:5px dotted lightslategray;
   border-right:5px dotted lightslategray;
   padding:20px;
   background-color:#f3f5f8;
}

hr {
   margin:50px;
   border:1.2px solid lavender;
   background-color:#f3f5f8;
}

.date {
   font-family: 'VT323', monospace;
   font-size:30px;
   letter-spacing:5px;
   color:#9fdfbf;
}

.title {
   font-family: 'Baloo Chettan', serif;
   font-size:26px;
   color:#184e32;
   text-align:center;
   text-transform:uppercase;
}

.story {
   font-family: 'Comfortaa', cursive;
   font-size:18px;
   color:#1e6241;
}

.para1 {
   border-left: 8px #c1d7d7 solid;
   padding-left:8px;
}

.para1::first-letter {
   font-size:200%;
   font-weight:600;
}